<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Resposta</title>
    <link rel="stylesheet" href="resposta.css">
</head>
<body>
    

    <% if (erro) { %>
        <h2><%= erro %></h2>
        <a href="/login">Tentar novamente</a>
    <% } else { %>
        <% if (nome) { %>
            <h1>Bem vindo!</h1>
            <p><strong>Nome:</strong> <%= nome %></p>
        <% } %>
        <p><strong>Usuário:</strong> <%= user %></p>
        <p><str<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href=""
    />
  </head>
  <body>
    <div class="centro" id="borda">
      <div class="block"><p>Nome: <%= nome %></p></div>
      <div class="block"><p>Login: <%= login %></p></div>
      <div class="block"><p>Senha: <%= senha %></p></div>
      <div class="block"><p>Nascimento: <%= nasc %></p></div>
    </div>
    <div class="centro">
      <a href="">
        <button>Voltar para o início</button>
      </a>
    </div>
  </body>
</html>